@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
/*
 * Base structure
 */

html, body {
  color: #4abd66;
  background-color: #1b2b1f;
}

/*
 * Wrapper
 */
.wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: #cbd6c500;
}

/*
 * Header
 */
.page-header {
  height: 15vh;
  background-color: #ac74b000;
}

/*
 * Cover
 */
.page-meat {
  height: 70vh;
}

.page-main {
  color: #efefefdd;
  background-color: #2c2d36dd;
  border-radius: 25px;
  text-align: center;
}
.page-main-register {
  color: #efefefdd;
  background-color: #2c2d36dd;
  border-radius: 25px;
  text-align: left;
}
.page-left {
  background-color: #2c8fd100;
}
.page-right {
  background-color: #d42a5700;
}

.banner-head {
  color: #4abd66dd;
  text-align: center;
}
.banner-text {
  color: #4abd66dd;
}

.search-field:focus {
  background-color: #2c2d36dd;
  border: 0;
  color: #4abd66dd;
}
.search-field {
  background-color: #2c2d36dd;
  text-align: center;
  border: 0;
}
.search-help {
  color: #4abd66dd;
}

.register-field:focus {
  background-color: #2c2d36dd;
  border-color: #4abd66dd;
  color: #4abd66dd;
}
.register-field {
  background-color: #2c2d36dd;
  border-color: #4abd66dd;
}

.footnote {
  color: #efefef20;
}
.footnote-link {
  color: #4abd6620;
}

/*
 * Footer
 */
.page-footer {
  height: 15vh;
  background-color: #58754800;
}

/*
 * Particles Styling
 */
.particles-container {
  position: relative;
}

.particles {
  height: 100vh;
}
